<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/albums/all">All Albums</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
    <hr />
    <h1>Create Album</h1>
    <hr />
    <form action="/albums/create" method="post">
        Name<input name="name" type="text" placeholder="Name..." /><br />
        Cover<input name="cover" type="url" placeholder="Cover..." /><br />
        <input name="createBtn" type="submit" value="Create" />
    </form>
    <hr />
    <p><a href="/albums/all">Back To All</a></p>
    <hr />
    <p>CopyRight &copy; Santy Design Studios. All rights reserved.</p>
</body>
</html>