<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>  
    <h1>Welcome to our online Cake Shop!</h1>
    <ul>
        <li>Home</li>
            <ol>
                <li>Our Cakes</li>
                <li>Our Stores</li>
            </ol>
        <li><a href="profile">My Profile</a></li>
        <li><a href="add">Add-Cake</a></li>
        <li><a href="search">Browse Cakes</a></li>
        <li>About Us</li>
    </ul>
    <a href="logout">Logout</a>
</body>
</html>